doctype html
html
  head
    title="Change Settings"
  body
    a(href='../main') [back to main]
    h1 Change Settings
    form(method='POST' action='')
      div
        label(for='account') Account:
        select(name='account')
          each account, i in accountList
            option(value=i) #{account.name} (#{account.address})
      div
        label(for='defaultRipple') Default Ripple:
        input#defaultRipple(type='checkbox' name='defaultRipple')
      button(type='submit') Submit