doctype html
html
    head
        title="Main"
    body
        h1 Operations
        ul
            each operation in operations
                li
                    a(href='.' + operation.path) #{operation.name}
        h1 Commands
        ul
            each command, index in commands
                li
                    a(href='./query/' + index) #{command.name}