doctype html
html
  head
    title="Make Payment"
  body
    h1 Make Payment Result
    p Transaction ID: #{transactionID}
    p Result code: #{resultCode}
    p Result message: #{resultMessage}
    br
    a(href='../main') [back to main]