doctype html
html
  head
    title="Make Payment"
  body
    a(href='../main') [back to main]
    h1 Make Payment
    form(method='POST' action='')
      div
        label(for='sourceAddress') Source Address:
        input#sourceAddress(type='text' name='sourceAddress')
      div
        label(for='sourceSecret') Source Secret:
        input#sourceSecret(type='text' name='sourceSecret')
      div
        label(for='sourceCurrency') Source Currency:
        input#sourceCurrency(type='text' name='sourceCurrency')
      div
        label(for='sourceMaxAmount') Source Max Amount:
        input#sourceMaxAmount(type='text' name='sourceMaxAmount')
      div
        label(for='sourceCounterparty') Source Counterparty:
        input#sourceCounterparty(type='text' name='sourceCounterparty')
      div
        label(for='destinationAddress') Destination Address:
        input#destinationAddress(type='text' name='destinationAddress')
      div
        label(for='destinationCurrency') Destination Currency:
        input#destinationCurrency(type='text' name='destinationCurrency')
      div
        label(for='destinationAmount') Destination Amount:
        input#destinationAmount(type='text' name='destinationAmount')
      div
        label(for='destinationCounterparty') Destination Counterparty:
        input#destinationCounterparty(type='text' name='destinationCounterparty')
      button(type='submit') Submit