doctype html
html
  head
    title="Transaction Result"
  body
    h1 Transaction Result
    p Transaction ID: #{transactionID}
    p Result code: #{resultCode}
    p Result message: #{resultMessage}
    br
    a(href='../main') [back to main]